

#Info {

	margin-top:20px;
}


#Errores {

	margin-top:20px;
}




#Informacion {

	margin-top:20px;
}


.li-tarea {
	line-height: 2em;
}

.selected {
    background-color: brown;
    color: #FFF;
}

td {cursor: pointer;}
html {font-size:50%}