{% extends 'recepcion_xls/base.html' %}
{% block title %}Ingresar al Sistema{% endblock %}
{% block css %} 
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}

{% block body_block %}



<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Ingresar al sistema</h2>
<input class="form-control" placeholder="Nombre de usuario" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<input type="password" class="form-control" placeholder="Contraseña" id="id_password" name="password" type="password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Ingresar</button>
        </form>
<p><center>¿No está registrado? <a href="{% url 'registration_register' %}">Registrarse</a>!</center></p>
{% endblock %}
