{% extends 'recepcion_xls/base.html' %}

{% block body_block %}
<form role="form"  method="post" action=".">
                {% csrf_token %}

<h2 class="form-signin-heading">Registrese Aquí</h2>

<div class="form-group {% if form.username.errors %} has-error {% endif %}" >
 <p class="required"> <label for="id_username">Nombre de Usuario:</label>
     <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Ingrese un nombre de usuario"/></p>
</div>

 <div class="form-group {% if form.email.errors %} has-error {% endif %}">
    <p class="required"><label for="id_email">E-mail:</label>
        <input class="form-control" id="id_email" name="email" type="email" placeholder="Ingrese su correo electronico" /></p>
</div>
<div class="form-group {% if form.password1.errors %} has-error {% endif %}">
    <p class="required"><label for="id_password1">Contraseña:</label>
        <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Ingrese una contraseña" /></p>
</div>
<div class="form-group {% if form.password2.errors %} has-error {% endif %}">
    <p class="required"><label for="id_password2">Contraseña (otra vez):</label>
 <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Ingrese su contraseña de nuevo" /></p>
</div>

<div class="form-group ">
{{ form.captcha }}
</div>

<button type="submit" class="btn btn-default">Registrarse</button>

</form>


{% endblock %}