<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>QA Fonacide - {% block title %}{% endblock %}</title>
    
    {% block css %}{% endblock %}
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    
    <link href=
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">QA FONACIDE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %}
                      <li><a href="/admin">Administración</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {%if perms.auth.puede_ver_estado_planillas %}
                        <li><a href="/estado">Estado de Planillas</a></li>
                        {% endif %}
                        {% if perms.auth.puede_cargar_planillas %}
                        <li><a href="{% url 'recepcion_xls:carga' %}">Carga</a></li>
                        {% endif %}
                        {% if perms.auth.puede_resolver_tareas %}
                        <li><a href="{% url 'recepcion_xls:lista_tareas' %}">Tareas</a></li>
                        {% endif %}
                        <li><a href="{% url 'auth_logout' %}?next=/">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Registrarse</a></li>
                        <li><a href="{% url 'auth_login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                

              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
                {% block side_block %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
                {% block body_block %}{% endblock %}
        </div>

      </div>

    </div>

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>