
{% load static %}
{% static "" as baseUrl %}
{% for message in messages %}
    {% if 'success' in message.tags %}

        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Operación Exitosa: </strong>

                {{ message.text }}

        </div>
    {% endif %}
{% endfor %}

{% for message in messages %}
    {% if 'error' in message.tags %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Ha ocurrido un error: </strong>

                {{ message.text }}

        </div>
    {% endif %}
{% endfor %}

{% for message in messages %}
    {% if 'info' in message.tags %}
        <div class="alert alert-info">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Información: </strong>

                {{ message.text }}

        </div>
    {% endif %}
{% endfor %}

{% for message in messages %}
    {% if 'warning' in message.tags %}
        <div class="alert alert-warning">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Alerta: </strong>

                {{ message.text }}

        </div>
    {% endif %}
{% endfor %}

{% if info == True %}
<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingInfo">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
  Información
  </a>
  </h5>
  </div>
  
  <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
    <div class="panel-body">
    
    <p><strong>Planilla:</strong> {{ nroplanilla }} - {{ planilla }} </p>
    <p><strong>Departamento:</strong> {{ departamento }} </p>
    <p><strong>Distrito:</strong> {{ distrito }} </p>

    
     <table class="table text-center">
      <thead >
        <tr>
          <th class="text-center">Planilla Nº 7 - Inmobiliario</th>
          <th class="text-center">Planilla Nº 9 - Aulas</th>
          <th class="text-center">Planilla Nº 10 - Sanitarios</th>
          <th class="text-center">Planilla Nº 11 - Otros</th>
          <th class="text-center">Planilla Nº 12 - Alimentación Escolar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{{ baseUrl }}/images/{{ estado_planillas.0 }}" height="48" width="48"></td>
          <td><img src="{{ baseUrl }}/images/{{ estado_planillas.1 }}" height="48" width="48"></td>
          <td><img src="{{ baseUrl }}/images/{{ estado_planillas.2 }}" height="48" width="48"></td>
          <td><img src="{{ baseUrl }}/images/{{ estado_planillas.3 }}" height="48" width="48"></td>
          <td><img src="{{ baseUrl }}/images/{{ estado_planillas.4 }}" height="48" width="48"></td>
        </tr>
      </tbody>
    </table>



    {% if log == True %}
    <a class="btn btn-default pull-right" href="{% url 'recepcion_xls:descargar_modificado' marcado%}">Descargar Planilla con los errores marcados</a>
    {% endif %}
    </div>
  </div>
  </div>
{% endif %}

{% if log == True %}
<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingErr">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseErr" aria-expanded="true" aria-controls="collapseErr">
  Errores
  </a>
  </h5>
  </div>
  
  <div id="collapseErr" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingErr">
    <div class="panel-body">


<textarea cols="120" rows="15" id="textoError">
  
{{ errores }}

</textarea>
<button class="btn btn-default pull-right" onclick="saveTextAsFile()">Guardar texto a archivo</button>


    </div>
  </div>
  </div>
{% endif %}