{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Recepción {% endblock %}

{% block css %}
        <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block side_block %}

<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingRef">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseEx" aria-expanded="true" aria-controls="collapseEx">
  Informaciones importantes
  </a>
  </h5>
  </div>
  <div id="collapseEx" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEx">
  <div class="panel-body">
  
  <h7>Formato Aceptado</h7>
  
  <small><p class="text-justify">Los archivos a ser recepcionados deberán estar en formato <b>Excel 2003/97</b>, los cuales tienen la extensión <b>.xls.</b></p>
  Las planillas aceptadas son las siguientes: 
  <ul>
  <li>Planilla 7 - <a href="{% static 'template/Planilla_7_Mobiliarios.xls' %}">Mobiliarios</a></li>
  <li>Planilla 9 - <a href="{% static 'template/Planilla_9_Aulas.xls' %}">Aulas</a></li>
  <li>Planilla 10 - <a href="{% static 'template/Planilla_10_Sanitarios.xls' %}">Sanitarios</a></li>
  <li>Planilla 11 - <a href="{% static 'template/Planilla_11_Otros.xls' %}">Otros</a></li>
  <li>Planilla 12 - <a href="{% static 'template/Planilla_12_AlimentacionEscolar.xls' %}">Alimentación Escolar</a></li>
  </ul>
  </small>
  <h7>Validación de las planillas</h7>
  <small>
  <p class="text-justify">Al subir la planillla, la misma será validada. En caso que de la misma contenga errores (valores invalidos, filas con campos vacios, etc), se creará una planilla modificada con los errores resaltados con un fondo de color. Puede consultar el significado de los colores más abajo.</p>
  <p>
  Además de presentar el resultado de la validación, en la sección "Información" podrá encontrar datos acerca de la planilla enviada y el estado de recepción de todas las planillas para el distrito actual.
  </p>
  </small>
  <h7>Reenviar una planilla ya cargada</h7>
  <small>
  <p>
  En caso de que desee volver a subir una planilla previamente aceptada, deberá primero marcar la casilla "Sobreescribir". Esto borrara la planilla previamente aceptada y los datos asociados a ella.
  </p>
  </small>
  </div>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingRef">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseRef" aria-expanded="true" aria-controls="collapseRef">
  Referencias
  </a>
  </h5>
  </div>
  
  <div id="collapseRef" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRef">
    <div class="panel-body">
    
    <table class="table text-center table-condensed">
      <thead >
        <tr>
          <th class="text-center">Color</th>
          <th class="text-center">Significado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td bgcolor="#FF0000"></td>
          <td>Valor inválido</td>
        </tr>
        <tr>
          <td bgcolor="#FFFF00"></td>
          <td>Valor requerido</td>
        </tr>
        <tr>
          <td bgcolor="#00FF00"></td>
          <td>Corregido Automáticamente</td>
        </tr>
      </tbody>
    </table>

    <table class="table text-center table-condensed">
      <thead >
        <tr>
          <th class="text-center">Simbolo</th>
          <th class="text-center">Significado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{% static 'images/mark.svg' %}" height="48" width="48"></td>
          <td>No se cargo aún.</td>
        </tr>
        <tr>
          <td><img src="{% static 'images/upload.svg' %}" height="48" width="48"></td>
          <td>Planilla cargada y con tareas pendientes.</td>
        </tr>
        <tr>
          <td><img src="{% static 'images/check.svg' %}" height="48" width="48"></td>
          <td>Planilla cargada y aceptada.</td>
        </tr>
      </tbody>
    </table>
    

    </div>
  </div>
  </div>

{% endblock %}


{% block body_block %}


<div id="extraParams">

</div>
<div id="cargaArchivos">
            <!-- IMPORTANT enctype attribute! -->
            <form id="my-dropzone" class="dropzone" action="{% url "recepcion_xls:carga" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
               
            </form>
            <br>
           <form class="form-inline" role="form">
            <div class="form-group">
            <label>Año: </label> <input type="text" id="datepicker" class="form-control"/>
            <!--label> Departamento: </label><select id="departamento-id" class="form-control">
                <option id="">Departamento ...</option>
                
            </select>
             
            <label> Distrito: </label><select id="distrito-id" class="form-control depdrop">
                <option id="">Distrito ...</option>
                
            </select-->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" id="sobreescribir">
                Activar sobreescritura de planillas previamente recepcionadas.<p class="text-danger">Los datos previamente cargados, así como las tareas de corrección relacionadas serán eliminadas al marcar esta opción</p>
              </label>
            </div>
            </div>
            </form>
            <br>
            <button id="submit" class="btn btn-default pull-right">

                Subir archivo
            </button>
     
            
</div>

<br>
<br>
<div id="Informacion"></div>

{% endblock %}


{% block javascript %}
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<link href="{% static 'css/dependent-dropdown.min.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'js/dependent-dropdown.min.js' %}" type="text/javascript"></script>
            <script type="text/javascript">

                function validate(){
                    if ($('#datepicker').val().length   >   0 ){ //  &&
                        //$('#departamento-id').val().length  >   0   &&
                        //$('#distrito-id').val()) {
                       $("#submit").prop("disabled", false);
                    }
                    else {
                        $("#submit").prop("disabled", true);
                    }
                }


                Dropzone.options.myDropzone = {
     
                    // Prevents Dropzone from uploading dropped files immediately
                    url:"{% url "recepcion_xls:carga" %}",
                    autoProcessQueue : false,
                    acceptedFiles: '.xls',
                    addRemoveLinks: true,
                    maxFiles: 1,
                    dictDefaultMessage: "Arrastre el archivo aquí o haga click para subir un archivo",
                    dictInvalidFileType: "Solo se aceptan archivos xls (Excel 97/2003)",
                    dictRemoveFile: "Remover archivo",
                    init : function() {
                        //$("#submit").prop("disabled", true);
                        //Para input año
                        var year = new Date().getFullYear()
                        $('#datepicker').val(year)
                        var submitButton = document.querySelector("#submit")
                        
                        
                        
                        //Para archivos
                        myDropzone = this;
                        
                        submitButton.addEventListener("click", function(event) {
                            $('<input />').attr('type', 'hidden').attr('name', "anho")
                            .attr('value', $('#datepicker').val())
                            .appendTo('#my-dropzone');
                            $('<input />').attr('type', 'hidden').attr('name', "sobreescribir")
                            .attr('value', $('#sobreescribir').prop('checked'))
                            .appendTo('#my-dropzone');
                            //$('<input />').attr('type', 'hidden').attr('name', "departamento")
                            //.attr('value', $('#departamento-id').val())
                            //.appendTo('#my-dropzone');
                            //$('<input />').attr('type', 'hidden').attr('name', "distrito")
                            //.attr('value', $('#distrito-id').val())
                            //.appendTo('#my-dropzone');


                            myDropzone.processQueue();

                            //event.preventDefault();
                            //console.log("form submitted!")  // sanity check
                            //create_post();
                            // Tell Dropzone to process all queued files.
                        });

                       this.on("success", function(file, response) {
                         //         console.log(response);
                            $('#Informacion').html(response)
                        });

     
                        // You might want to show the submit button only when
                        // files are dropped here:
                        this.on("addedfile", function() {
                            // Show submit button here and/or inform user to click it.
                        });

                        this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
                        //this.on('complete', function () {
                        //    location.reload();
                        //});
     
                    },

                    /*accept: function(file, done) {
                        if (file.name.contains(xlsx)) {
                            done();
                        }
                        else { done("Debe entregar un archivo en formato Excel 2003 (xls) o Excel 2007 (xlsx)"); }
                    }*/
                };
            
            //var options = [];
            //options.push('<option id="-1">Departamento ...</option>')
            //$.getJSON("{% url "recepcion_xls:get_departamentos" %}", function(result) {
            //   for (var i = 0; i < result.lista_departamentos.length; i++) {
            //        options.push('<option value="',
            //          result.lista_departamentos[i][0], '">',
            //          result.lista_departamentos[i][1], '</option>');
            //    }
            //    $("#departamento-id").html(options.join(''));

                

            

            //});

            //Para combo dependiente del primero
            //    $("#distrito-id").depdrop({
            //        url: '{% url "recepcion_xls:get_distritos" %}',
            //        depends: ['departamento-id'],
            //        placeholder: "Distrito...",
            //        initialize:false,
            //        loading: false
            //      });

            
            //$('#datepicker, #departamento-id, #distrito-id').change(validate);
            </script>

{% endblock %}