{% load static %}
{% static "" as baseUrl %}

<table class="table text-center">  
<thead>
    <tr>
      <th>Departamento</th>
      <th>Distrito</th>
      <th>Planilla 7</th>
      <th>Planilla 9</th>
      <th>Planilla 10</th>
      <th>Planilla 11</th>
      <th>Planilla 12</th>
    </tr>
  </thead>
  <tbody>
  	{% for fila in estado_planillas %}
    <tr>
      <td class="t-align-left">{{ fila.departamento }}</td>
      <td class="t-align-left">{{ fila.distrito }}</td>
      
      <td>
      {% if not "mark" in fila.estado.0 %}
      <a href="{% url "recepcion_xls:recrear_xls" fila.departamento_id fila.distrito_id fila.anho 7 %}">
      {% endif %}
      <img src="{{ baseUrl }}/images/{{ fila.estado.0 }}" height="32" width="32">
      {% if not "mark" in fila.estado.0 %}
      </a>
      {% endif %}
      </td>
      
      <td>
      {% if not "mark" in fila.estado.1 %}
      <a href="{% url "recepcion_xls:recrear_xls" fila.departamento_id fila.distrito_id fila.anho 9 %}">
      {% endif %}
      <img src="{{ baseUrl }}/images/{{ fila.estado.1 }}" height="32" width="32">
      {% if not "mark" in fila.estado.1 %}
      </a>
      {% endif %}
      </td>
      
      <td>
      {% if not "mark" in fila.estado.2 %}
      <a href="{% url "recepcion_xls:recrear_xls" fila.departamento_id fila.distrito_id fila.anho 10 %}">
      {% endif %}
      <img src="{{ baseUrl }}/images/{{ fila.estado.2 }}" height="32" width="32">
      {% if not "mark" in fila.estado.2 %}
      </a>
      {% endif %}
      </td>
      
      <td>
      {% if not "mark" in fila.estado.3 %}
      <a href="{% url "recepcion_xls:recrear_xls" fila.departamento_id fila.distrito_id fila.anho 11 %}">
      {% endif %}
      <img src="{{ baseUrl }}/images/{{ fila.estado.3 }}" height="32" width="32">
      {% if not "mark" in fila.estado.3 %}
      </a>
      {% endif %}
      </td>
      
      <td>
      {% if not "mark" in fila.estado.4 %}
      <a href="{% url "recepcion_xls:recrear_xls" fila.departamento_id fila.distrito_id fila.anho 12 %}">
      {% endif %}
      <img src="{{ baseUrl }}/images/{{ fila.estado.4 }}" height="32" width="32">
      {% if not "mark" in fila.estado.4 %}
      </a>
      {% endif %}
      </td>
     
    </tr>
    {% endfor %}
  </tbody>

</table>
