{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Estado de Recepción de Planillas {% endblock %}

{% block css %}
 <link href="{% static 'css/fixed-header.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block side_block %}


<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingDown">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseDown" aria-expanded="true" aria-controls="collapseDown">
  Descargas
  </a>
  </h5>
  </div>
  
  <div id="collapseDown" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDown">
    <div class="panel-body">


<label> Departamento: </label>
<select id="departamento-id" class="form-control">
<option id="-1">Todos los departamentos</option>
</select>
<br>

<label> Distrito: </label>
<select id="distrito-id" class="form-control depdrop">
<option id="-1">Distrito</option>                
</select>
<br>


<button id="descargar" class="btn btn-default pull-right" onclick="descargar()">
Descargar compilado de planillas
</button>


</div>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingRef">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseRef" aria-expanded="true" aria-controls="collapseRef">
  Referencias
  </a>
  </h5>
  </div>
  
  <div id="collapseRef" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRef">
    <div class="panel-body">

<table class="table text-center table-condensed">
  <thead >
    <tr>
      <th class="text-center">Simbolo</th>
      <th class="text-center">Significado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="{% static 'images/mark.svg' %}" height="48" width="48"></td>
      <td>No se cargo aún.</td>
    </tr>
    <tr>
      <td><img src="{% static 'images/upload.svg' %}" height="48" width="48"></td>
      <td>Planilla cargada y con tareas pendientes.</td>
    </tr>
    <tr>
      <td><img src="{% static 'images/check.svg' %}" height="48" width="48"></td>
      <td>Planilla cargada y aceptada.</td>
    </tr>
  </tbody>
</table>

</div>
  </div>
  </div>

{% endblock %}

{% block body_block %}
<label>Año</label> <input type="text" id="datepicker" /> <button id="recargar" class="btn btn-default" onclick="cargar_estado()">
Actualizar
</button>
<div id="loader-estado"></div>
<div id="tablaEstados">
  
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.stickytableheaders.min.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<link href="{% static 'css/dependent-dropdown.min.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'js/dependent-dropdown.min.js' %}" type="text/javascript"></script>
<script>

function cargar_estado(){
    var anho = $('#datepicker').val()
    $('#tablaEstados').html("")
    console.log(anho)  
    $.ajax({
        url : "{% url 'recepcion_xls:dashboard' 'valor' %}".replace('valor',anho.trim()), // the endpoint
        type : "GET", // http method
        beforeSend: sLoadingEstadoPlanillas(),
        // handle a successful response
        success : function(response) {
          //console.log(response)
            $('#tablaEstados').html(response); // remove the value from the input
            var offset = $('.navbar').height();
            $("html:not(.legacy) table").stickyTableHeaders({fixedOffset: offset});
            //console.log("success"); // another sanity check
            fLoadingEstadoPlanillas();
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#tablaEstados').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }})    
}

var anho = $('#datepicker').val()
cargar_estado();

$('#datepicker').change(cargar_estado)

var options = [];
options.push('<option value="-1">Departamento</option>')
$.getJSON("{% url "recepcion_xls:get_departamentos" %}", function(result) {
for (var i = 0; i < result.lista_departamentos.length; i++) {
  options.push('<option value="',
  result.lista_departamentos[i][0], '">',
  result.lista_departamentos[i][1], '</option>');
}
options.push('<option value="-1">Todos los departamentos</option>')
$("#departamento-id").html(options.join(''));

});


//Para combo dependiente del primero
    $("#distrito-id").depdrop({
        url: '{% url "recepcion_xls:get_distritos" %}',
        depends: ['departamento-id'],
        placeholder: "Distrito",
        initialize:false,
        loading: false
      });

function descargar(){
  var anho = $('#datepicker').val()
  var valor1 = $('#departamento-id').val();
  var valor2 = $('#distrito-id').val();

  if(valor1 != -1 && valor2 != -1){
    valor2 = valor1+"-"+valor2
  }

  console.log("{% url 'recepcion_xls:descargar_zip' %}"+"?distrito_id="+valor2+"&departamento_id="+valor1+"&anho="+anho)
  window.location="{% url 'recepcion_xls:descargar_zip' %}"+"?distrito_id="+valor2+"&departamento_id="+valor1+"&anho="+anho
}

</script>

{% endblock %}