{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Recepción {% endblock %}

{% block css %}
        <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block body_block %}

{% if perms.auth.puede_cargar_planillas %}
<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingCarga">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCarga" aria-expanded="true" aria-controls="collapseCarga">
  Carga de Planillas
  </a>
  </h5>
  </div>
  
  <div id="collapseCarga" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCarga">
    <div class="panel-body">
    <p>En esta sección puede entregar las planillas correspondientes a FONACIDE. Las planillas entregadas son validadas previa a su aceptación. En caso de encontrarse errores, la planilla no será aceptada y una copia con los errores marcados será generada.



    </p>
    <a class="btn btn-info pull-right" href="{% url 'recepcion_xls:carga'%}">Comenzar</a>

    </div>
  </div>
  </div>

{% endif %}

{% if perms.auth.puede_resolver_tareas %}
<div class="panel panel-default">
  <div class="panel-heading"  role="tab" id="headingCorr">
  <h5 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCorr" aria-expanded="true" aria-controls="collapseCorr">
  Corrección de Planillas
  </a>
  </h5>
  </div>
  
  <div id="collapseCorr" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCorr">
    <div class="panel-body">
    
    <p>Interfaz que permite la corrección de códigos de planillas ya entregadas.</p>

    <a class="btn btn-info pull-right" href="{% url 'recepcion_xls:lista_tareas'%}">Comenzar</a>

    </div>
  </div>
  </div>
{% endif %}

{% if not perms.auth.puede_resolver_tareas and not perms.auth.puede_cargar_planillas %}
 <div class="alert alert-info">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Información: </strong>
            <br>
                Debe solicitar al administrador los permisos requeridos para realizar tareas de carga de planillas o corrección de las mismas

        </div>

{% endif %}


{% endblock %}