{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Registro de Usuarios {% endblock %}

{% block body_block %}
        <h1>Login a QA FONACIDE</h1>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Usuario: <input type="text" name="username" value="" size="50" />
            <br />
            Contraseña: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Ingresar" />
        </form>

{% endblock %}