{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Registro de Usuarios {% endblock %}

{% block body_block %}
        <h1>Registro de Usuarios para QA FONACIDE</h1>

        {% if registered %}
        <strong>Ud. ya se encuentra registrado</strong>
        <a href="/">Ir a la carga de planilllas.</a><br />
        {% else %}
        <strong>Ud. no se encuentra registrado, por favor complete este formulario</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Registrarse" />
        </form>
        {% endif %}
{% endblock %}



