{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Tarea Corrección de Codigos {% endblock %}

{% block side_block %}

<div class="panel panel-default">
  <div class="panel-heading"><h5>Explicación</h5></div>
  <div class="panel-body">
  <small><p class="text-justify">El código de institución leido de la planilla no coincide con el nombre de la institución o no corresponde a ninguna institución en la base de datos del MEC.</p>
  <p class="text-justify">En la sección Sugerencias podrá seleccionar uno de los códigos sugeridos por el sistema para realizar la corrección. Esta sección podrá estar vacia si el sistema no ha podido identificar la institución.</p>
  <p class="text-justify">En este caso deberá introducir en forma manual el código de institución que cree correcto.</p></small>
  </div>
  </div>
{% endblock %}

{% block body_block %}

<form role="form"  method="post" action=".">
                {% csrf_token %}


<div class="panel panel-default">
  <div class="panel-heading"><h4>Corrección de Códigos - Planilla Nº {{ planilla.nro_planilla }}</h4></div>
  <div class="panel-body">

<table class="table text-center">
  <thead >
    <tr>
      <th class="text-center">Cod. Institución</th>
      <th class="text-center">Cod. Local</th>
      <th class="text-center">Nombre Institución</th>
      <th class="text-center">Departamento</th>
      <th class="text-center">Distrito</th>
      <th class="text-center">Localidad o Barrio</th>
      <th class="text-center">Zona</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ planilla.codigo_institucion }}</td>
      <td>{{ planilla.codigo_local }}</td>
      <td>{{ planilla.nombre_institucion }}</td>
      <td>{{ planilla.departamento }}</td>
      <td>{{ planilla.distrito }}</td>
      <td>{{ planilla.localidad }}</td>
      <td>{{ planilla.zona }}</td>
    </tr>
  </tbody>
  </table>



<div class="form-group">
<label for="{{ form.valor_corregido_id_label }}"> Cod Institución Correcto:</label>  
  {{ form.codigo_institucion }}
</div>
<div class="form-group">
<label for="{{ form.valor_corregido_id_label }}"> Cod Local Correcto:</label>  
  {{ form.codigo_local }}
</div>



<button type="submit" class="btn btn-default pull-right">Aplicar Corrección</button>
</form>

</div>
</div>
{% for message in messages %}
{% if message %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message.text }}
        </div>
{% endif %}
{% endfor %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Sugerencias</h4></div>
  <div class="panel-body">
  {% if sugerencias %}
  <table class="table text-center" id="TablaSugerencias">
  <thead >
    <tr>
      <th class="text-center">Cod. Institución</th>
      <th class="text-center">Cod. Local</th>
      <th class="text-center">Nombre Institución</th>
      <th class="text-center">Departamento</th>
      <th class="text-center">Distrito</th>
      <th class="text-center">Localidad o Barrio</th>
     
    </tr>
  </thead>
  <tbody>
  	{% for fila_sugerida in sugerencias %}
    <tr>
      <td>{{ fila_sugerida.codigo_institucion }}</td>
      <td>{{ fila_sugerida.codigo_establecimiento }}</td>
      <td>{{ fila_sugerida.tpoinstdsc }} {{ fila_sugerida.nombre }}</td>
      <td>{{ fila_sugerida.dpto_desc }}</td>
      <td>{{ fila_sugerida.dist_desc }}</td>
      <td>{{ fila_sugerida.barlo_desc }}</td>
     
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
  		No hay sugerencias.
  {% endif %}
</div>
</div>



{% endblock %}
{% block javascript %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
