{% extends 'recepcion_xls/base.html' %}

{% load staticfiles %}

{% block title %} Tareas Asignadas {% endblock %}

{% block side_block %}

<div class="panel panel-default">
  <div class="panel-heading"><h5>Explicación</h5></div>
  <div class="panel-body">
  <small><p class="text-justify">La sección tareas disponibles contiene las tareas de corrección no asignadas a ningun usuario. Si ud. desea resolver esa tarea haga click en el botón Añadir.</p>
  <p class="text-justify"> La sección tareas pendientes contiene las tareas de corrección asignadas a su usuario, las que un administrador le ha asignado o ud a añadido a sus pendientes. Para pasar a la pantalla de corrección y resolver la tarea haga click en el botón Resolver.</p>
  <p class="text-justify">En la sección tareas resueltas aparecerán las últimas 10 tareas resueltas por ud.</p></small>
  </div>
  </div>
{% endblock %}
{% block body_block %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Tareas Disponibles</h4></div>
  <div class="panel-body">
    <ul>
    {% for tarea in tareas_disponibles %}
    	{% if tarea.estado == "No asignada" %}
	        <li class="list-group-item list-group-item-info li-tarea">Planilla Nº {{ tarea.nro_planilla }} {{ tarea.tipo }}<a class="btn btn-info pull-right" href="{% url 'recepcion_xls:asignar_tarea' tarea.id_tarea %}">Añadir</a></li>
	    {% endif %}
    {% empty %}
        <li class="list-group-item list-group-item-info">No hay tareas disponibles.</li>
    {% endfor %}
    </ul>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Tareas Pendientes</h4></div>
  <div class="panel-body">
    <ul>
    {% for tarea in tareas_usuario %}
    	{% if tarea.estado == "Pendiente" %}
	        <li class="list-group-item list-group-item-info li-tarea">Planilla Nº {{ tarea.nro_planilla }} {{ tarea.tipo }}<a class="btn btn-info pull-right" href="{% url 'recepcion_xls:realizar_tarea' tarea.id_tarea %}">Resolver</a></li>
	    {% endif %}
    {% empty %}
        <li class="list-group-item list-group-item-info">No tiene tareas asignadas.</li>
    {% endfor %}
    </ul>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Tareas Realizadas</h4></div>
  <div class="panel-body">
    <ul>
    {% for tarea in tareas_usuario %}
    	{% if tarea.estado == "Completa" %}
	        <li class="list-group-item list-group-item-info li-tarea">Planilla Nº {{ tarea.nro_planilla }} {{ tarea.tipo }}</li>
	    {% endif %}
    {% empty %}
        <li class="list-group-item list-group-item-info">No hay tareas resueltas por ud.</li>
    {% endfor %}
    </ul>

  </div>
</div>


{% endblock %}
